body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 40vw;
  margin: auto;
  margin-top: 80px;
  background-color: rgb(226, 226, 226);
}

.container {
  padding: 20px;
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid rgba(171, 189, 201, 0.418);
  box-shadow: 1px 1px 5px 1px rgb(58, 80, 95);
  align-items: center;
  row-gap: 20px;
}

.select-table,
.select-reload,
.select-option,
.select-file {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;
}

select {
  width: 12vw;
  height: 40px;
  text-align: center;
  border: none !important;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 1px 1px 5px 1px rgb(58, 80, 95);
}
select:hover {
  cursor: pointer;
}
.gerar {
  display: flex;
  margin: 10px 0px 10px 10px;
  width: 20vw;
  justify-content: space-around;
}
.modal {
  --bs-modal-width: 1000px;
}

h2 {
  font-size: 20px;
}
#reloadButton {
  width: 8vw;
  border-radius: 50px;
  border: none;
  background-color: rgb(210, 57, 30);
}

#generateButton {
  width: 8vw;
  border-radius: 50px;
  border: none;
}
