body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 40vw;
  margin: auto;
  margin-top: 80px;
  background-color: rgb(0, 0, 0);
  color: white !important;
}

.container {
  padding: 20px;
  display: flex;
  background-color: rgb(34, 34, 34);
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid rgba(211, 211, 211, 0.418);
  box-shadow: 1px 1px 5px 1px rgb(156, 156, 156);
  align-items: center;
  row-gap: 20px;
}

.select-table,
.select-reload,
.select-option,
.select-file {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;
}

select {
  width: 12vw;
  height: 40px;
  text-align: center;
  border: none !important;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 1px 1px 5px 1px rgb(58, 80, 95);
}
select:hover {
  cursor: pointer;
}
.gerar {
  display: flex;
  margin: 10px 0px 10px 10px;
  width: 20vw;
  justify-content: space-around;
}
.modal {
  --bs-modal-width: 1000px;
}
#myModal {
  transition: 2s;
}

h2 {
  font-size: 20px;
}
#reloadButton {
  width: 8vw;
  border-radius: 5px;
  border: none;
  background-color: rgb(68, 68, 68);
}
#reloadButton:hover {
  background-color: brown;
  transition: background-color 2s;
}
#generateButton {
  width: 8vw;
  border-radius: 5px;
  border: none;
  background-color: rgb(68, 68, 68);
}
#generateButton:hover {
  background-color: green;
  transition: background-color 3s;
}
